<section>
  <mat-toolbar>{{'USER-PROFILE.EDIT.HEADER' | translate}}</mat-toolbar>
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="name"
          [placeholder]="'USER-PROFILE.EDIT.NAME' | translate">
      </mat-form-field>
      <p *ngIf="name.errors?.name">{{name.errors?.name.message}}</p>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="age"
          [placeholder]="'USER-PROFILE.EDIT.AGE' | translate">
      </mat-form-field>
      <p *ngIf="age.errors?.age">{{age.errors?.age.message}}</p>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="dateOfBirth"
          [placeholder]="'USER-PROFILE.EDIT.DATE-OF-BIRTH' | translate">
      </mat-form-field>
      <p *ngIf="dateOfBirth.errors?.date">{{dateOfBirth.errors?.date.message}}</p>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="dateOfFirstLogin"
          [placeholder]="'USER-PROFILE.EDIT.DATE-OF-FIRST-LOGIN' | translate">
      </mat-form-field>
      <p *ngIf="dateOfFirstLogin.errors?.date">{{dateOfFirstLogin.errors?.date.message}}</p>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="dateOfNextNot"
          [placeholder]="'USER-PROFILE.EDIT.DATE-OF-NEXT-NOT' | translate">
      </mat-form-field>
      <p *ngIf="dateOfNextNot.errors?.date">{{dateOfNextNot.errors?.date.message}}</p>
    </div>

    <div class="legend">
      <div>{{'USER-PROFILE.EDIT.DATE-FORMATS' | translate}}: </div>
      <div>YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY</div>
    </div>

    <button mat-flat-button color="primary" type="submit" [disabled]="!userForm.valid">{{'SEND' | translate}}</button>
  </form>
</section>
