mat-card{
  padding: 0;
  mat-card-content{
    padding: 0 16px 16px 16px;
    .err-message{
      margin-top: 0;
      color: red;
    }
    mat-form-field{
      width: 100%;
    }
    .actions{
      display: flex;
      justify-content: space-between;
    }
  }
}
