<section>
  <mat-card>
    <mat-toolbar color="primary">{{'FORGOT-PASSWORD' | translate}}</mat-toolbar>

    <mat-card-content>
      <form #forgotForm="ngForm" (submit)="submit(forgotForm)">
        <div>
          <mat-form-field>
            <input
              matInput
              required
              ngModel
              name="login"
              type="text"
              [placeholder]="'LOGIN' | translate">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [ngModel]="password"
              disabled
              type="text"
              name="password"
              [placeholder]="'PASSWORD' | translate">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>

        <p class="err-message" *ngIf="errorMessage">{{errorMessage | translate}}</p>

        <div class="actions">
          <button mat-flat-button [disabled]="!forgotForm.valid" color="primary">{{'SEND' | translate}}</button>

          <a mat-button [routerLink]="['/login']">{{'SIGN-IN' | translate}}</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
