mat-toolbar{
  display: flex;
  justify-content: space-between;
  height: 56px;
  >:last-child{
    display: flex;
    align-items: center;
    mat-select{
      display: block;
      width: 50px;
      margin-right: 10px;
    }
  }
}
