<section>
  <mat-tab-group (selectedTabChange)="selectTab($event)">
    <mat-tab *ngFor="let tab of tabs" [label]="tab | translate"></mat-tab>
  </mat-tab-group>

  <div class="container" [ngSwitch]="tabIndex" *ngIf="profileService.getUserSubject | async; else spinner">
    <ng-template ngSwitchCase="0">
      <app-user-info [userInfo]="profileService.getUserSubject | async"></app-user-info>
    </ng-template>

    <ng-template ngSwitchCase="1">
      <app-user-edit-form [user]="profileService.getUserSubject | async"></app-user-edit-form>
    </ng-template>
  </div>

  <ng-template #spinner>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
