<section>
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">{{'FORGOT-PASSWORD' | translate}}</mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form #forgotForm="ngForm" (submit)="submit(forgotForm)">
        <div>
          <mat-form-field>
            <input
              matInput
              required
              ngModel
              name="login"
              type="text"
              [placeholder]="'LOGIN' | translate">
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [ngModel]="password"
              disabled
              type="text"
              name="password"
              [placeholder]="'PASSWORD' | translate">
          </mat-form-field>
        </div>

        <p class="err-message" *ngIf="errorMessage">{{errorMessage | translate}}</p>

        <button mat-flat-button color="primary">{{'SEND' | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
