section{
  border-radius: 10px;
  border: 4px solid rgb(245, 245, 245);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.24);
  form {
    padding: 15px;
    div {
      mat-form-field {
        width: 100%;
      }
      p{
        margin-top: -20px;
        padding: 10px 0;
        color: red;
        border-radius: 0 0 5px 5px;
      }
    }
    .legend{
      margin: 8px 0;
      font-size: 11px;
      color: rgb(149, 149, 149);
        display: flex;
        justify-content: space-between;
        align-items: center;
      div:first-child{
        font-size: 14px;
        color: black;
      }
    }
    button:first-of-type{
      margin-right: 10px;
    }
  }
}
